.App {
  min-height: 100vh;
  text-align: center;
  background-color: #c8c8c8;
  padding: 1%;
}

.App button:last-child {
  padding: 10px;
  width: 200px;
}

.header {
  padding: 10px;
  font-size: 30px;
  font-weight: 700;
  position: sticky;
  top: 0;
  background-color: #c8c8c8;

}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ddd;
  background-color: #eee;
  margin-top: 3px;

}

.product .cart {
  display: flex;
  align-items: center;
  justify-self: center;
}

.product .cart button {
  width: 60px;
  height: 40px;
  margin-inline: 10px;
}

.basket {
  margin-top: 10px;
}